<div class="content-wrapper">
  <div class="row">
    <div class="col-6 bar-border-right">
      <h1 class="text-center mb-4">Delivery Status</h1>
      <div class="text-center">
        <h3>Total Orders</h3>
        <span class="total-count">{{ totalCount }}</span>
      </div>
      <div class="row">
        <div class="col-6">
          <apx-chart
            #deliveredChart
            *ngIf="deliveredChartOptions"
            [series]="deliveredChartOptions.series"
            [chart]="deliveredChartOptions.chart"
            [plotOptions]="deliveredChartOptions.plotOptions"
            [labels]="deliveredChartOptions.labels"
            [stroke]="deliveredChartOptions.stroke"
            [fill]="deliveredChartOptions.fill"
          ></apx-chart>
          <div class="bar-chart-label text-center">
            Orders Delivered
          </div>
        </div>
        <div class="col-6">
          <apx-chart
            #pendingDeliveryChart
            *ngIf="pendingDeliveryChartOptions"
            [series]="pendingDeliveryChartOptions.series"
            [chart]="pendingDeliveryChartOptions.chart"
            [plotOptions]="pendingDeliveryChartOptions.plotOptions"
            [labels]="pendingDeliveryChartOptions.labels"
            [stroke]="pendingDeliveryChartOptions.stroke"
            [fill]="pendingDeliveryChartOptions.fill"
          ></apx-chart>
          <div class="bar-chart-label text-center">
            Pending Delivered
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 position-relative">
      <div class="total-sales text-center">
        <div>
          <h2 class="h1-like">Total Sales</h2>
          <p class="rate">GPB</p>
          <p class="price">{{ totalPrice | number : '1.2-2' }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 pb-4">
    <div class="col-8">
      <apx-chart
        #lineChart
        *ngIf="lineChartOptions"
        [series]="lineChartOptions.series"
        [chart]="lineChartOptions.chart"
        [xaxis]="lineChartOptions.xaxis"
        [stroke]="lineChartOptions.stroke"
        [title]="lineChartOptions.title"
        [yaxis]="lineChartOptions.yaxis"
        [fill]="lineChartOptions.fill"
      ></apx-chart>
    </div>
    <div class="col-4 line-border-left">
      <p class="text-center report-title">Report</p>
      <div class="row">
        <div class="col-6">
          <div class="delivery-progress">
            <p class="title">On Time Delivery</p>
            <span class="percent">{{ onTimeDeliveryPercent}}%</span>
            <div class="progress">
              <div class="progress-bar bg-success" [style.width]="onTimeDeliveryPercent + '%'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="delivery-progress">
            <p class="title">Late Deliveries</p>
            <span class="percent">{{ lateDeliveryPercent}}%</span>
            <div class="progress">
              <div class="progress-bar bg-danger" [style.width]="lateDeliveryPercent + '%'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
