@use "sass:map";

@import '~bootstrap/scss/mixins';
@import "~src/scss/core/variables";

.img-logo {
  width: 215px;
}

.header-container {
  background: rgb(22,51,91);
  background: linear-gradient(0deg, rgba(22,51,91,1) 0%, rgba(22,54,98,1) 100%);
  @include make-container(map.get($page-gutter, 'lg'));
}

.toolbox {
  color: #fff;
  font-weight: bold;
  i {
    color: #fff;
  }
  .help-text {
    font-size: 0.825rem;
  }
}
