'
<aside>
  <nav class="nav flex-column justify-content-center">
    <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
      <span class="mr-2">
        <i class="bi bi-grid" role="img" aria-label="Dashboard"></i>
      </span>
      Dashboard
    </a>
    <a class="nav-link" routerLink="/new-order" routerLinkActive="active">
      <span class="mr-2">
        <i class="bi bi-credit-card" role="img" aria-label="New Order"></i>
      </span>
      New Order
    </a>
    <a class="nav-link" routerLink="/admin/orders" routerLinkActive="active">
      <span class="mr-2">
        <i class="bi bi-box-seam" role="img" aria-label="Status"></i>
      </span>
      Status
    </a>
  </nav>
</aside>
