h3 {
  font-size: 1.25rem;
}

.dashed-line {
  border-top: 1px dotted #ccc;
}

.topping-name {
  font-size: 0.875rem;
}

.total-section {
  border-top: 2px solid #939393;

  h3, .price {
    font-size: 1.75rem;
  }
}
